;; GOKU_EDN_CONFIG_FILE="karabiner.edn" goku
;; main contains multiple manipulators
;; each manipulator has a description and multiple rules

;; main                -> {:main [{:des "..." :rules [rule1 rule2 ...]}]}
;; manipulator         -> {:des "..." :rules [rule1 rule2 ...]}
;; manipulator's rules -> [rule1 rule2 ...]
{
  :alone 50 ; hold for .. ms to register single tap
  :delay 0 ; TODO: not sure what it's for
  :held 50 ; time after which the key press is delayed
  :sim 200 ; keys need to be pressed within this threshold to be considered simultaneous
  :simlayer-threshold 222
  :modifiers {;
    :super-hyper [:command :shift :control :option :fn]
    :hyper [:command :shift :control :option]
    :cos [:command :shift :option]
    :cst [:command :shift :control]
    :co [:command :option]
    :cs [:command :shift]
    :ct [:command :control]
    :to [:control :option]
    :ts [:control :shift]
    :os [:option :shift]
    ;
  }

  :devices {:kinesis [{:vendor_id 1523 :product_id 7}]}

  :applications {
    :code ["com.microsoft.VSCode"]
  }

  :simlayers {
    :a--alt-mode {:key :a}
    :s-mode {:key :s}
    :d-mode {:key :d}
    :v--mode {:key :v}
    :n--mode {:key :n}
    :g--cursor-mode {:key :g}
    :f-mode {:key :f}
  }
  :templates {
    :launch "osascript -e 'tell application \"%s\" to activate'"
    :alfred "osascript -e 'tell application \"Alfred 3\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
    :open "open \"%s\""
    :open-a "open -a '%s'"
  }

  :tos {
    :expand_selection {:key :right_arrow :modi :cst}
    :shrink_selection {:key :left_arrow :modi :cst}
    :cursor_find_match {:key :d :modi :command}
    :cursor_above {:key :up_arrow :modi :co}
    :cursor_below {:key :down_arrow :modi :co}
    :multi_word_select  {:key :d :modi :command}
    :acejump {:key :j :modi :cos}
    :acejump_line {:key :l :modi :cos}
    :acejump_selection {:key :s :modi :cos}
    :acejump_multi {:key :m :modi :cos}
    :alfred_shortcut {:key :spacebar :modi :option}

  }

  :main [
    {:des "caps lock"
     :rules [
       ; disable default caps lock behaviour. Tap to open alfred. Hold to activate launch mode
       [:caps_lock {:set ["launch-mode", 1]} nil {:alone :alfred_shortcut :afterup {:set ["launch-mode", 0]}}]
     ]
    }

    {:des "shift acts as backspace"
     :rules [
      ;  delete single letters backwards or forwards
       [:left_shift :left_shift nil {:alone :delete_or_backspace}]
       [:right_shift :right_shift nil {:alone :delete_forward}]
      ; delete whole words backwards or forwards
       [{:key :right_shift :modi :left_shift} :!Odelete_forward]
       [{:key :left_shift :modi :right_shift} :!Odelete_or_backspace]
     ]
    }

    {:des "code"
      :rules [
        [:condi :code :n--mode]
        [:a :close_bracket] ; [
        [:s :!Sclose_bracket] ; {
        [:d :!Sbackslash] ; }
        [:f :backslash] ; ]
        [:g :international1] ; _

        [:condi :code :v--mode]
        [:h, :hyphen] ; -
        [:j, :!S8] ; (
        [:k, :!S9] ; )

        ; [:condi :code :g--mode]
        ; [:j, [:spacebar :!Shyphen :spacebar]] ; =
        ; [:k, [:!S2 :!S2 :left_arrow]] ; ""
        ; [:l, [:spacebar :!Shyphen :!Speriod :spacebar]] ; =>
      ]
    }
    {:des "cursor: moving"
      :rules [:f-mode
        [:condi :f-mode]
        [:##y :!Cleft_arrow] ; move to start of line
        [:##u :!Oleft_arrow] ; move 1 word left
        [:##i :!Oright_arrow] ; move one word right
        [:##o :!Cright_arrow] ; move to end of line

        [:##h :left_arrow]
        [:##j :down_arrow]
        [:##k :up_arrow]
        [:##l :right_arrow]

        [:##n :!Cdown_arrow] ; end
        [:##m :page_down]  ; page down
        [:##comma :page_up] ; page up
        [:##period :!Cup_arrow] ; home
      ]
    }

    {:des "cursor: selecting"
      :rules [:d-mode
        [:condi :d-mode]
        [:##y :!CSleft_arrow] ; select to start of line
        [:##u :!SOleft_arrow] ; select 1 word left
        [:##i :!SOright_arrow] ; select 1 word right
        [:##o :!CSright_arrow] ; select to end of line

        [:##h :!Sleft_arrow]
        [:##j :!Sdown_arrow]
        [:##k :!Sup_arrow]
        [:##l :!Sright_arrow]

        [:##n :!SCdown_arrow] ; select to end
        [:##m :!Spage_down]  ; select page down
        [:##comma :!Spage_up] ; select page up
        [:##period :!SCup_arrow] ; select to home
      ]
    }

    {:des "cursor: multi select and manipulate"
      :rules [:s-mode
        [:condi :code :s-mode]

        [:##h :multi_word_select]
        [:##u :!Odown_arrow]
        [:##i :!Oup_arrow]
        [:##j :!COdown_arrow]
        [:##k :!COup_arrow]
        [:##m :!SOdown_arrow]
        [:##comma :!SOup_arrow]
      ]
    }

    {:des "lauch mode"
      :rules [:launch-mode
      [:j [:launch "Visual Studio Code"]]    ;
      [:k [:launch "iTerm"]]    ;
      [:l [:launch "Firefox"]]    ;
      [:semicolon [:launch "Sourcetree"]]    ;
      [:u [:launch "Slack"]]    ;
      [:p [:open-a "1Password 7"]]    ;
    ]}

    ; {:des "disabled keys"
    ;   :rules [
    ;     [:left_arrow :vk_none]
    ;     [:right_arrow :vk_none]
    ;     [:down_arrow :vk_none]
    ;     [:up_arrow :vk_none]
    ;   ]
    ; }
  ]
}




; rule [:period ["media-mode" 1] nil {:afterup ["media-mode" 0] :alone :period}]
;;       |_____| |_______________| |_| |_________________________________________|
;;        <from>    <to>      <conditions>         <other options>

    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;;
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any
;;
